jobs:
  - id: "example-job"
    action: copy # copy | move | delete | archive
    cron: "*/5 * * * * *"
    source:
      dir: /src
      includes:
        - "**/*.json"
        - "**/*.ts"
    target:
      dir: $1/build/cronops/backup/22
      permissions:
        owner: "1000:1000"
        file_mode: "664"
        dir_mode: "774"
      archive_name: "backup-{{MM-dd}}.tgz"
      retention: "10d"
    verbose: false

  - id: "project-archive"
    action: archive
    cron: "*/5 * * * *"
    source:
      dir: /node_modules
      excludes:
        # - "node_modules/**"
        - "dist/**"
        - "build/**"
        - ".git/**"
    target:
      dir: /build/bulk
      rmdir: true
      archive_name: "backup-{{MM-dd}}.tgz"
    enabled: true

# defaults for all jobs dummi
defaults:
  source:
    includes:
      - "**/*"
    excludes:
      - "**/*~"
      - "**/*.git"
      - "**/*.svn"
      - "**/*.part"
      - "**/*.download"
      - "**/*.crdownload"
      - "**/*.tmp"
